export(ji.ds.colnames)
export(ji.ds.contourplot)
export(ji.ds.dim)
export(ji.ds.heatmapplot)
export(ji.ds.is.character)
export(ji.ds.is.numeric)
export(ji.ds.mean)
export(ji.ds.range)
export(ji.ds.t.test)
export(ji.ds.t.test.formula)
