export(ji.ds.asFactor)
export(ji.ds.asList)
export(ji.ds.asMatrix)
export(ji.ds.asNull)
export(ji.ds.c)
export(ji.ds.class)
export(ji.ds.colnames)
export(ji.ds.complete.cases)
export(ji.ds.contourplot)
export(ji.ds.dim)
export(ji.ds.exp)
export(ji.ds.heatmapplot)
export(ji.ds.is.character)
export(ji.ds.is.factor)
export(ji.ds.is.list)
export(ji.ds.is.null)
export(ji.ds.is.numeric)
export(ji.ds.levels)
export(ji.ds.log)
export(ji.ds.mean)
export(ji.ds.NROW)
export(ji.ds.range)
export(ji.ds.t.test)
export(ji.ds.t.test.formula)
